h1 {
    color:#560bad;
}

a:link, a:visited {
    color:white;
    background-color: #b5179e;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
}

a:hover, a:active {
    text-decoration: none;
    background-color: #f72585;
}