@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

#entrada {
    background-color: #00a2ffd2;
    border-radius: 10px;
  }
  
  #entrada * {
    padding: 10px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
  }