#menu {
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  text-align: center;
  background-color: #ffffffb9;
  box-shadow: 2px 2px 7px #929292;
  font-weight: 500;
}

#menu li,
a {
  display: inline-block;
  text-decoration: none;
  color: #272626;
  padding: 10px;
}

#menu li:hover {
  color: #a494c5;
  font-weight:bold;
}

#menu li a {
  text-decoration: none;
  padding: 10px;
}
